body,
html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
}

header {
  align-items: center;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  height: auto;
  justify-content: space-between;
  padding: 1rem 0;
}

header h1 {
  font-size: 1.6rem;
}

main {
  display: flex;
  flex-grow: 1;
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
}

footer {
  min-height: 2rem;
  padding: 0.5rem 0;
}

footer .attribution {
  max-height: 1.5rem;
  max-width: 100px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-container {
  width: 90%;
  margin: 0px auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .modal-container {
    padding: 15px 30px;
    width: 30rem;
  }
}

.modal-header {
  border-bottom: 1px solid #ccc;
}

.modal-container .modal-header h2 {
  font-size: 1.3rem;
}

.modal-body {
  padding: 1rem 0;
}

.modal-body ul {
  list-style: initial;
  margin: initial;
  padding: 0 0 0 1rem;
}

.modal-body ul li {
  display: list-item;
}

.modal-footer {
  border-top: 1px solid #ccc;
  padding: 1rem 0 0;
}

#map {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(100%) !important;
  clip-path: inset(100%) !important;
  overflow: hidden !important;
}

.mapboxgl-ctrl.property-ctrl button,
.mapboxgl-ctrl.school-ctrl button {
  height: 40px;
  width: 40px;
}

.mapboxgl-ctrl.property-filter-view-ctrl,
.mapboxgl-ctrl.schools-filter-view-ctrl,
.mapboxgl-ctrl.schools-legend-view-ctrl {
  background-color: rgba(255, 255, 255, 0.85);
  color: #333;
  font-size: 1rem;
  padding: 0;
}

.mapboxgl-ctrl.schools-legend-view-ctrl {
  border-radius: 4px;
}

.mapboxgl-ctrl.schools-legend-view-ctrl div {
  padding: 0.25rem;
}

.mapboxgl-ctrl.schools-legend-view-ctrl div small {
  margin-left: 1rem;
}

.mapboxgl-ctrl.property-filter-view-ctrl {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  width: 18rem;
}

.mapboxgl-ctrl.schools-filter-view-ctrl {
  background-color: transparent;
}

form input, select {
  margin-bottom: 0.5rem;
}

.layer-container {
  position: relative;
}

.layer-container .layer-options {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  border: 0;
  height: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
  width: 0;
}

.layer-container .layer-options.expanded {
  border: 1px solid #ccc;
  padding: 0.5rem 1.5rem 0rem;
}

.maplibregl-popup.mapboxgl-popup {
  z-index: 300;
}

.maplibregl-popup-content.mapboxgl-popup-content {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  padding: 0.5rem;
}

.popup-info.container {
  padding: 0;
}

.popup-info.container .school-name {
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  font-weight: bold;
}

.popup-info.container .school-name small {
  color: #999;
}

.popup-info.container .school-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--universal-margin)
}

.popup-info.container .school-stats .label {
  font-size: 0.85rem;
  max-width: 120px;
  text-decoration: underline;
  width: 100%;
  white-space: nowrap;
}

.popup-info.container .school-stats .value {
  font-size: 0.85rem;
  font-weight: bold;
  max-width: 150px;
  text-align: right;
  white-space: nowrap;
}

.popup-info.container .property-stats p {
  margin-bottom: 0.25rem;
}

.popup-info.container .property-stats .price {
  font-weight: bold;
  font-size: 120%;
  margin-top: 0.5rem;
}

.popup-info.container .property-stats .address {
  font-weight: bold;
}

.popup-info.container .property-stats .division {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.popup-info.container .property-stats ul {
  border: 1px solid #ccc;
  column-count: 3;
  list-style-type: none;
  margin: var(--universal-margin);
  margin-bottom: 0.5rem;
}

.popup-info.container .property-stats ul li {
  padding: 0.25rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
