body,
html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  height: auto;
}

main {
  display: flex;
  flex-grow: 1;
  position: relative;
}

footer .attributions-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

footer .attributions-container .attribution {
  max-height: 1.5rem;
}

.sidebar {
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
  right: 0;
  min-width: 25rem;
  z-index: 200;
}

.sidebar .responsive-label {
  align-items: center;
}

#map {
  flex-grow: 1;
  position: relative;
}
