.maplibregl-popup.mapboxgl-popup {
  z-index: 300;
}

.maplibregl-popup-content.mapboxgl-popup-content {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  padding: 0.5rem;
}

.popup-info.container {
  padding: 0;
}

.popup-info.container .school-name {
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  font-weight: bold;
}

.popup-info.container .school-name small {
  color: #999;
}

.popup-info.container .school-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--universal-margin)
}

.popup-info.container .school-stats .label {
  font-size: 0.85rem;
  max-width: 120px;
  text-decoration: underline;
  width: 100%;
  white-space: nowrap;
}

.popup-info.container .school-stats .value {
  font-size: 0.85rem;
  font-weight: bold;
  max-width: 150px;
  text-align: right;
  white-space: nowrap;
}

.popup-info.container .property-stats p {
  margin-bottom: 0.25rem;
}

.popup-info.container .property-stats .price {
  font-weight: bold;
  font-size: 120%;
  margin-top: 0.5rem;
}

.popup-info.container .property-stats .address {
  font-weight: bold;
}

.popup-info.container .property-stats .division {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.popup-info.container .property-stats ul {
  border: 1px solid #ccc;
  column-count: 3;
  list-style-type: none;
  margin: var(--universal-margin);
  margin-bottom: 0.5rem;
}

.popup-info.container .property-stats ul li {
  padding: 0.25rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
